{{ define "delete-mixer" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Delete mixer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
<style>
  body {
    background: #F2F6FA;
    height: 100vh;
  }
</style>
  </head>
  <body>
  <nav class="navbar is-white">
    <div class="navbar-menu">
      <p class="navbar-item">ShowTime!</p>
      <a class="navbar-item" href="/livestreams">Livestreams</a>
      <a class="navbar-item" href="/integrations">Integrations</a>
      <p class="navbar-item">MCR</p>
      <a class="navbar-item" href="/channels">Channels</a>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title">Delete mixer</h1>
          <h2 class="subtitle">This will affect the following:</h2>
          <div class="card">
            <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">A connected channel</p>
                </div>
              </div>
            </div>
            <form method="post">
              <div class="field is-grouped">
                <p class="control">
                <a class="button" href="/integrations">Cancel</a>
                </p>
                <p class="control">
                <input type="submit" class="button is-danger" value="Confirm deletion" />
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
{{ end }}
