{{ define "edit-livestream" }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }} livestream</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
  </head>
  <body>
  <div class="column has-text-centered">
    <h1 class="title">{{ .Title }} livestream</h1>
    <form method="post" autocomplete="off">
      <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
          <input class="input" name="title" value="{{ .Fields.Title }}" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
          <textarea class="textarea" name="description">{{ .Fields.Description }}</textarea>
        </div>
      </div>
      <div class="field">
        <label class="label" for="scheduledStart">Scheduled start</label>
        <div class="control">
          <input type="datetime-local" class="input" name="scheduledStart" value="{{ .Fields.ScheduledStart }}" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="scheduledEnd">Scheduled end</label>
        <div class="control">
          <input type="datetime-local" class="input" name="scheduledEnd" value="{{ .Fields.ScheduledEnd }}" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="visibility">Visibility</label>
        <div class="select">
          <select name="visibility">
            <option value="public" {{ if eq .Fields.Visibility "public" }}selected{{ end }}>Public</option>
            <option value="unlisted" {{ if eq .Fields.Visibility "unlisted" }}selected{{ end }}>Unlisted</option>
            <option value="private" {{ if eq .Fields.Visibility "private" }}selected{{ end }}>Private</option>
          </select>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <a href="/livestreams{{ if eq .Action "Save" }}/{{ .ID }}/manage{{ end }}" class="input is-link is-light">Cancel</a>
        </div>
        <div class="control">
          <input class="button is-link" type="submit" value="{{ .Action }}" />
        </div>
      </div>
    </form>
    {{ if .Errors }}
    <article class="message is-warning">
      <div class="message-header">
        <p>Errors in form</p>
      </div>
      <div class="message-body">
        {{ range .Errors }}
          <p>{{ . }}</p>
        {{ end }}
      </div>
    </article>
    {{ end }}
    </div>
  </body>
</html>
{{ end }}
