{{ define "get-playout" }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
  </head>
  <body>
    <a href="/"><-- back</a>
    <h3 class="title is-5">{{ .Title }}</h1>
    <h2 class="title is-4">Stream Key</h3>
    <h1 class="title is-2">{{ .StreamKey }}</h1>
    <form action="/playouts/{{ .PlayoutID }}/end" method="post">
        <input type="submit" value="End stream" />
    </form>
    <p>
        Don't know how to add a stream key? Follow the guide 
        <a href="https://docs.ystv.co.uk/wiki/How_to_add_a_stream_key_to_OBS">here</a>.
    </p>
  </body>
</html>
{{ end }}