{{ define "list-playouts" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Select playout</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Select a playout</h1>
    <ul>
    {{ range . }}
        <a href="/playouts/{{ .PlayoutID }}">{{ .Title }}</a>
    {{ end }}
    </ul>
    <p>or create a <a href="/playouts/new">new</a> one.</p>
  </body>
</html>
{{ end }}