{{ define "manage-livestream" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Edit {{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
  </head>
  <body>
  <div class="column has-text-centered">
    <a href="/livestreams/{{ .LivestreamID }}">🔙 Back</a>
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="title is-4">Links</h2>
    <h3 class="title is-5">YSTV website</h3>
    {{ if eq .MCRLinkID "" }}
      <form action="/livestreams/{{ .LivestreamID }}/link/mcr">
        <input type="submit" value="Link to YSTV website" />
    </form>
    {{ else }}
      <form action="/livestreams/{{ .LivestreamID }}/unlink/mcr/{{ .MCRLinkID }}" method="post">
        <input type="submit" value="Unlink from YSTV website" />
    </form>
    {{ end }}
    <h3 class="title is-5">YouTube</h3>
    {{ if eq .YouTubeLinkID "" }}
      <form action="/livestreams/{{ .LivestreamID }}/link/youtube">
        <input type="submit" value="Link to YouTube" />
    </form>
    {{ else }}
      <form action="/livestreams/{{ .LivestreamID }}/unlink/youtube/{{ .YouTubeLinkID }}" method="post">
        <input type="submit" value="Unlink from YouTube" />
    </form>
    {{ end }}
    <p>
        Prefer a prettier UI? Try  
        <a href="https://creator.ystv.co.uk/live/streams">Creator Studio</a>.
    </p>
    </div>
  </body>
</html>
{{ end }}
