{{ define "new-link" }}
  <!DOCTYPE html>
  <html>
    <head>
      <title>New link</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
        />
      <script
        defer
        src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
        ></script>
      <style>
body {
  background: #F2F6FA;
  height: 100vh;
}
      </style>
    </head>
    <body>
      <nav class="navbar is-white">
        <div class="container">
          <div class="navbar-menu">
            <p class="navbar-item">ShowTime!</p>
            <a class="navbar-item" href="/livestreams">Livestreams</a>
            <a class="navbar-item" href="/integrations">Integrations</a>
            <p class="navbar-item">MCR</p>
            <a class="navbar-item" href="/channels">Channels</a>
          </div>
        </div>
      </nav>
      <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/livestreams">livestreams</a></li>
            <li><a href="/livestreams/{{ .ID }}">{{ .ID }}</a></li>
            <li><a href="/livestreams/{{ .ID }}/manage">manage</a></li>
            <li class="is-active"><a href="#" aria-current="page">link</a></li>
          </ul>
        </nav>
        <h1 class="title">New link</h1>
        <a class="box" href="/livestreams/{{ .ID }}/link/mcr">
          <div class="content">
            <article class="post">
              <div class="media">
                <div class="media-left">
                  <b>YSTV Website</b>
                </div>
                <div class="media-content">
                  <div class="content">
                    Go live to the YSTV website through a channel.
                  </div>
                </div>
              </div>
            </article>
          </div>
        </a>
        <a class="box" href="/livestreams/{{ .ID }}/link/youtube">
          <div class="content">
            <article class="post">
              <div class="media">
                <div class="media-left">
                  <b>YouTube</b>
                </div>
                <div class="media-content">
                  <div class="content">
                    Go live to a YouTube account through a livestream.
                  </div>
                </div>
              </div>
            </article>
          </div>
        </a>
        <a class="box" href="/livestreams/{{ .ID }}/link/youtube-existing">
          <div class="content">
            <article class="post">
              <div class="media">
                <div class="media-left">
                  <b>Existing YouTube livestream</b>
                </div>
                <div class="media-content">
                  <div class="content">
                    Setup an existing YouTube livestream to be streamed with ShowTime!
                  </div>
                </div>
              </div>
            </article>
          </div>
        </a>
        <a class="box" href="/livestreams/{{ .ID }}/link/rtmp">
          <div class="content">
            <article class="post">
              <div class="media">
                <div class="media-left">
                  <b>RTMP output</b>
                </div>
                <div class="media-content">
                  <div class="content">
                    Livestream to a custom RTMP URL.
                  </div>
                </div>
              </div>
            </article>
          </div>
        </a>
      </section>
    </body>
  </html>
{{ end }}
