{{ define "new-link" }}
<!DOCTYPE html>
<html>
  <head>
    <title>New link</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
  </head>
  <body>
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-menu">
        <p class="navbar-item">ShowTime!</p>
        <a class="navbar-item" href="/livestreams">Livestreams</a>
        <a class="navbar-item" href="/integrations">Integrations</a>
        <p class="navbar-item">MCR</p>
        <a class="navbar-item" href="/channels">Channels</a>
      </div>
    </div>
  </nav>
  <section class="section">
    <h1 class="title">New link</h1>
  </section>
  <section class="section">
    <a href="/livestreams/{{ .ID }}/link/mcr">
      <div class="box content">
        <article class="post">
          <div class="media">
            <div class="media-left">
              <p>YSTV Website</p>
            </div>
            <div class="media-content">
              <div class="content">
                Go live to the YSTV website through a channel.
              </div>
            </div>
          </div>
        </article>
      </div>
    </a>
    <a href="/livestreams/{{ .ID }}/link/youtube">
      <div class="box content">
        <article class="post">
          <div class="media">
            <div class="media-left">
              <p>Existing YouTube livestream</p>
            </div>
            <div class="media-content">
              <div class="content">
                Setup an existing YouTube livestream to be streamed with ShowTime!
              </div>
            </div>
          </div>
        </article>
      </div>
    </a>
    </section>
  </body>
</html>
{{ end }}
