{{ define "set-youtube-link" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Link {{ .Playout.Title }} to YouTube</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>{{ .Playout.Title }}</h1>
    <form action="/playouts/{{ .Playout.PlayoutID }}/link/youtube/confirm" method="post">
        <label for="broadcastID">Select a livestream to link to:</label>
        <select name="broadcastID">
            {{ range .Broadcasts }}
                <option value="{{ .ID }}">{{ .Title }} ({{ .PrettyDateTime }})</option>
            {{ end }}
        </select>
        <input type="submit" value="Link to playout" />
    </form>
    <p>
        Remember to schedule your YouTube livestream before trying to link it.
    </p>
  </body>
</html>
{{ end }}